body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
}

header {
  display: flex;
  align-items: center; /* Vertically center items */
  justify-content: center; /* Horizontally center items */
  background-color: #333;
  color: rgb(227, 225, 223);
  padding: 20px;
  text-align: center;
}

nav {
  text-align: center;
  margin-top: 20px;
  color: rgb(227, 225, 223);
  background-color: #333;
  font-family: Bradley Hand, cursive;
}

nav a {
  color: rgb(227, 225, 223);
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
  font-family: Bradley Hand, cursive;

}

.container {
  max-width: 500px;
  margin: 20px auto;
  padding: 0 20px;
  text-align: center;
}

footer {
  background-color: #333;
  color: rgb(227, 225, 223);
  text-align: center;
  padding: 20px;
}

h2 {
  color: #333;
}

p {
  color: #555;
  line-height: 1.6;
}

#me {
  width: 100px;
  text-align: left; /* Add margin to separate image from text */
}

/* About Section
.about-container {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.1);
} */

/* Resume Section
.resume-container {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.1);
} */

/* Projects Section */
/* .projects-container {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.1);
} */

/* Footer Section */
.footer-container {
  background-color: #333;
  color: rgb(227, 225, 223);
  padding: 20px;
  width: 100%;
  text-align: center;
}

h1{
  font-family: Bradley Hand, cursive;
}
